#converted {
    width: 100%;
    background: #a8a8a8;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: initial;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
    margin: 10px;

    img {
        height: 256px;
        width: 256px;
    }

    figure{

        &:hover{
            animation-duration: 100ms;
        }
    }
}
