#pre-conversion {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50%;

    input {
        width: 128px;
    }

    #image-container-parent{
        height:256px !important;
        justify-content: center;
      
    }
    img{
        max-height: 256px;
        min-height: 256px;
        height:256px !important;
    }

        #photolabel {
            cursor: pointer;
            position: absolute;
            right: 10%;
         
            img{
                width: 32px;
                height: 32px !important;
                min-height: 32px !important;

            }
        }
    


}