@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand-Medium.ttf);
}

#sidebar {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 0.17;
      -ms-flex: 0.17;
          flex: 0.17;
  z-index: 999;
  background: #7e7e7e;
  opacity: 0.9;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#sidebar ul li {
  width: 100%;
}

#sidebar nav {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#sidebar nav a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10%;
  width: 100%;
  background: rgba(88, 88, 88, 0.41);
  opacity: 0.8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#sidebar nav a:hover {
  background: rgba(31, 140, 212, 0.5);
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

#pre-conversion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#pre-conversion input {
  width: 128px;
}

#pre-conversion #image-container-parent {
  height: 256px !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#pre-conversion img {
  max-height: 256px;
  min-height: 256px;
  height: 256px !important;
}

#pre-conversion #photolabel {
  cursor: pointer;
  position: absolute;
  right: 10%;
}

#pre-conversion #photolabel img {
  width: 32px;
  height: 32px !important;
  min-height: 32px !important;
}

section {
  left: 0;
  height: 100vh;
  width: 0;
  opacity: 0;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1%;
  padding-bottom: 1%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section:target {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  opacity: 1;
  right: 0;
  width: 100%;
  height: 100%;
}

section #conversion {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 999;
  background: #b4b4b4;
  border-radius: 20px;
}

section #conversion i {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-right: 1px solid #8d8d8d;
  cursor: pointer;
}

section #conversion i:hover {
  background: rgba(0, 0, 0, 0.13);
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

#converted, #histograms {
  width: 100%;
  background: #a8a8a8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: initial;
      flex-shrink: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 50%;
  margin: 10px;
}

#converted img, #histograms img {
  height: 256px;
  width: 256px;
}

#converted figure:hover, #histograms figure:hover {
  -webkit-animation-duration: 100ms;
          animation-duration: 100ms;
}

* {
  font-family: "Quicksand";
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #a8a8a8;
}

.wrapper > .wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

i {
  padding: 10;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */