@font-face{
    font-family: 'Quicksand';
    src:url(./fonts/Quicksand-Bold.ttf)
}

*{
    font-family: 'Quicksand';
    overflow-y: hidden;
    overflow-x: hidden;
    margin:0;
    padding: 0;
    font-size:20px;
}


body{
    margin: 0;
    padding: 0;

}
.wrapper{
    display: flex;
    background: rgba(168, 168, 168, 1.0);


}

.wrapper > *{
    flex:1 100%;

}

#sidebar{

    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.side{
    flex:0.15;
    z-index: 999;
    background: #7e7e7e;
    opacity: 0.9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.side ul li{
    width: 100%;
}

#content{
    display: flex;
    justify-content: center;

}

.main{

    flex: 1;
}
#imagein input{
    width: 128px;
}

#imagein{
    display: flex;
    flex-direction: column;
    height: 50%;
    min-height: 256px;
    min-width: 256px;
    align-items: center;
    text-align: center;
    
}
#imagein img{
    height:256px;
    width: 256px;
}

#photolabel{
    height:20%;
    padding: 5px 5px 20px 5px;
}
nav{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
nav a {
    text-decoration: none;
    display: flex;
    color:#000;
    align-items: center;
    height: 10%;
    width: 100%;
    background: rgba(88, 88, 88, 0.41);
    opacity: 0.8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
nav a:hover{
    background: rgba(31, 140, 212, 0.5);
    transition: all ease-in-out 0.2s;
}

i{
    padding: 10;
    width: 100%;
    display: flex;
    justify-content: center;

}

section{
    
    left:0;
    height: 100vh;
    width: 0;
    opacity: 0;
    transition: all ease-in .3s;
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
    flex-direction: column;
    
}

section:target{
    flex:1;
    opacity: 1;
    right:0;
    width:100%;
    height: 100%;
}


#imageShow{
    width: 256px;
    height: 256px;
}


#conversion{
    width:50%;
    height: 20%;
    display: flex;
    flex-direction: row;
    z-index: 999;
    background: #B4B4B4;
    border-radius: 20px;
    
}
#conversion i {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    border-right:1px solid rgb(141, 141, 141)
}
#conversion i:hover{
    background: rgba(0, 0, 0, 0.13);
    transition: all ease-in-out 0.2s;
}

#converted{
    width:100%;
    background: #A8A8A8;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: initial;
    align-items: center;
    justify-content: space-evenly;
    height: -webkit-fill-available;
    
}
#converted > * {

    margin: 10px;
}

#converted img {
    height: 256px;
    width: 256px;
}